a{
  background-color:#e4b5b5 !important;

}
ion-content.background{
  --background: url(../../../assets/b.jpg) 0 0/100% 100% no-repeat;

}
ion-list{
  --ion-item-background: rgb(166, 166, 228);
}
ion-item{
  --ion-item-background:rgb(231, 231, 250);
}