<ion-tabs>
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="anasayfa">
      <ion-icon name="home"></ion-icon>
      <ion-label>Anasayfa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="arama">
      <ion-icon name="search"></ion-icon>
      <ion-label>Arama</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listeler">
      <ion-icon name="list"></ion-icon>
      <ion-label>Listeler</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bilgi">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Bilgi</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
