ion-content{
    --background: rgb(247, 224, 228);
      //--background: url(../../../assets/backgroundx.jpg) 0 0/100% 100% no-repeat;


}
ion-list{
    --ion-item-background: rgb(166, 166, 228);
}
ion-item{
    --ion-item-background:rgb(231, 231, 250);
}