.card{
  background-color: desaturate($color: #f1f8c4, $amount: 0) !important;
}
.card1{
  background-color: desaturate($color: #e7e2dc, $amount: 0) !important;
  
}
ion-content{
  --background: rgb(225, 235, 233);
}